<nav class="navbar navbar-expand-lg" style="background: var(--bs-gray-700)">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Image sharer</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-1 mx-lg-3"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                                     href="{% url 'main:index' %}">Home</a>
                </li>
                <li class="nav-item mx-1 mx-lg-3"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                                     href="{% url 'main:post' %}">Post new image</a></li>
                <li class="nav-item mx-1 mx-lg-3"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                                     href="{% url 'admin:index' %}">Admin page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
