{% load static %}

<!--suppress ALL -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A simple Django project"/>
    <meta name="author" content="Alexey Bachurin"/>
    <link rel="icon" type="image/x-icon" href=href="{% static 'favicon.ico' %}" />
    <title>{% block title %}Image storage{% endblock %}</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="bg-{% if message.tags %}{{ message.tags }}{% else %}success{% endif %}
                bg-gradient text-center text-white py-3">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% include 'includes/navbar.html' %}


<div class="container">
    {% block content %} {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>